<head>
  <script type="text/javascript" src="../../JS/profile.js"></script>
  <link href="style.css" rel='stylesheet' type='text/css' />
  <script src="https://kit.fontawesome.com/f765320ad1.js" crossorigin="anonymous"></script>
</head>
<nav>
  <ul>
      <li> <a href="#" id="fb"> <i class="fab fa-facebook-f    "></i> </a> </li>
      <li> <button id="search_btn" class="tooltip" data-tooltip="Search"> <i class="fas fa-search    "></i> </button> </li>
      <li id="space2"></li>
      <li> <a class="tooltip active" data-tooltip="Home" href="#" id="home"> <i class="fas fa-home    "></i> </a> </li>
      <li> <a class="tooltip" data-tooltip="Group" href="#" id="group"> <i class="fas fa-user-friends    "></i> </a></li>
      <li> <a class="tooltip" data-tooltip="Watch" href="#" id="tv"> <i class="fas fa-tv    "></i> </a> </li>
      <li> <a class="tooltip" data-tooltip="Friend" href="#" id="friend"> <i class="fas fa-user-alt    "></i> </a> </li>
      <li id="space1"></li>
      <li> <button class="tooltip" data-tooltip="Add" id="btn_plus"><i class="fas fa-plus    "></i></button> </li>
      <li> <button class="tooltip" data-tooltip="Message" id="btn_msg"><i class="fab fa-facebook-messenger    "></i></button></li>
      <li> <button class="tooltip" data-tooltip="Notification" id="btn_bell"> <i class="fas fa-bell    "></i></button></li>
      <li>  <button class="tooltip" data-tooltip="Profile" id="btn_profile"><i class="fas fa-user-cog    "></i></button>  </li>
  </ul>
</nav>

<aside class="profile-card">
  
  <header>
    
    <!-- here’s the avatar -->

    <img src="../../Views/SignUp/images/profilePic.jpg">
    

    <!-- the username -->
    <h1>Username</h1>
    
    <!-- and role or location -->
    <h2>My Profile</h2>
    
  </header>
  
  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">
    
    <p>Lorem impsum some noncence about whosist and whatsis</p>
    
  </div>
  
  <!-- some social links to show off -->
  <ul class="profile-social-links">
    
    <!-- twitter - el clásico  -->
    <li>
      <a href="https://twitter.com">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-twitter.svg">
      </a>
    </li>
    
    <!-- envato – use this one to link to your marketplace profile -->
    <li>
      <a href="https://github.com">
        <img src="https://t3.ftcdn.net/jpg/04/52/18/48/240_F_452184858_iZXfI1h2BdKB5i9cDwpu9Ue1il8Mxxfq.jpg">
      </a>
    </li>
    
    <!-- codepen - your codepen profile-->
    <li>
      <a href="https://discord.com">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968756.png">
      </a>
    </li>
    
    <!-- add or remove social profiles as you see fit -->
    
  </ul>
  
</aside>
<!-- that’s all folks! -->