
<!DOCTYPE html>
<html>
<head>
<title>Sign Up</title>
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!--SweetAlerts2-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
<!--/SweetAlearts2-->
<script type="text/javascript" src="../../JS/SignUp.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Consent Sign Up Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"./>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<!--webfonts-->
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>

<!--/start-login-one-->	
		<h1>Sign Up</h1>
		<div class="login">
			<form id="formPage" method="POST">
				<ul>
					<li>
						<a href="#" class=" icon user"></a><input type="text" class="text" value="Your Name" id="username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name';}" >
					</li>
					<!--<li>
						<a href="#" class=" icon mail"></a><input type="text" class="text" value="Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}" >
					</li> -->
					<div class="dumy">
					<li class="psw">
						<a href="#" class=" icon key"></a><input type="password" value="Password" id="psw" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
					</li>
					<li class="psw two">
						<a href="#" class=" icon key"></a><input type="password" value="Confirm Password" id="pswCheck" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}">
					</li>
					<div class="clear"></div>
				</div>
						
					<div class="submit">
							<input type="submit" value="CREATE A  ACCOUNT" >

				</ul>
			</form>
</body>
</html>