html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}

*{
  box-sizing: border-box;
}
:root{
    --btn-width-100: 100px;
}
body{
    margin: 0;
    padding: 0;
}
nav{
    margin: 0;
    padding: 0;
    background-color: #fff;
}
nav ul {
    margin: 0;
    padding: 8px 15px;
    list-style: none;
    display: flex;
    box-shadow: 0 1px 8px rgba(0,0,0,0.3);
}
nav ul li {
    padding: 3px;
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
}
nav ul li #fb{
    background: #0B84ED;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
nav ul li #search_btn{
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.068);
    padding: 8px;
    color: #888;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    border-radius: 50%;
    cursor: pointer;
}
nav ul li#space1{
    flex: 1;
}
nav ul li#space2{
    flex: 2;
}
nav ul li a{
    height: 40px;
    width: var(--btn-width-100);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(158, 158, 158);
    transition: .5s;
}
nav ul li #btn_plus,
nav ul li #btn_msg,
nav ul li #btn_bell,
nav ul li #btn_profile{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #444;
    background: rgba(0, 0, 0, 0.068);
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}
nav ul li:hover #home,
nav ul li:hover #group,
nav ul li:hover #tv,
nav ul li:hover #friend{
    background: rgba(0, 0, 0, 0.138);
    color: #444;
    border-radius: 5px;
}
.active{
    color: #0B84ED!important;
}
.tooltip{
    position: relative;
}
.tooltip::after{
    content: attr(data-tooltip);
    height: 30px;
    background: rgba(0,0,0,0.4);
    color: #fff;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    bottom: -150%;
    padding: 5px 12px;
    line-height: 30px;
    border-radius: 3px;
    opacity: 0;
    transition: .3s;
    pointer-events: none;
    user-select: none;
}
.tooltip:hover::after{
    opacity: 1;
}
nav ul li #btn_profile::after{
   margin-left: -20px;
}
@media  screen and (max-width: 700px){
    nav ul li#space1,
    nav ul li#space2{
        display: none;
    }
    nav ul{
        min-width: 600px;
        padding: 8px 12px;
      justify-content: space-between;
    }
    :root{
        --btn-width-100: 60px;
    }
}


body{
 background: url("../../Views/SignUp/images/bg.jpg") no-repeat 0px 0px;
 background-size: cover ;
 padding-bottom: 5em;
 font-family: 'Lato', sans-serif;
}

body h1{
	text-align: center;
	font-size: 2.7em;
	color: white;
	padding: 1em 0;
}
textarea {
  resize: none;
}


#newPostTextArea{
  width: 40%;
  margin: 2% auto 7%;
  position: relative;

  text-align: center;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: white;
}
#newPost{
  margin: 2% auto;
  outline-color: transparent;
  outline-style: none;
  padding-top: 1em;
  padding-left: 1em;
}

#postSubmitButtn{
  margin: -2.3% auto 5%;
  background: #9da7b4; 
  
  margin-left: 280px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
#postSubmitButtn:hover {
  background:#5a95e6;
  cursor: pointer;
}

#posts{
  margin: 2% auto 7%;
  width: 40%;
  text-align: center;
  list-style: none;
  display:flex;
  flex-direction: column-reverse;
  background-color: white;
  
}

#posts li{
  width: 450px;
  min-height: 200px;
  height:auto;
  padding: 0, 2%;
  margin: 2% auto 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#posts li:not(first-child) {
  border-top: 1px solid black;
}

